[submodule "Option_pricing"]
	path = Option_pricing
	url = https://github.com/pkroy1991/Option_pricing
[submodule "Portfolio_analysis"]
	path = Portfolio_analysis
	url = git@github.com:pkroy1991/Portfolio_analysis.git
[submodule "IV"]
	path = IV
	url = git@github.com:pkroy1991/IV.git
[submodule "Project-2-Tail-Distribution"]
	path = Project-2-Tail-Distribution
	url = git@github.com:pkroy1991/Equity_Tail_Distribution.git
