[submodule "Option_pricing"]
	path = Option_pricing
	url = https://github.com/pkroy1991/Option_pricing
[submodule "Portfolio_analysis"]
	path = Portfolio_analysis
	url = git@github.com:pkroy1991/Portfolio_analysis.git
